.spanBlock {
    display: flex;
    align-items: center;
    gap: 24px;
}

.span {
    color: #0080FF;

}

.input {
    padding: 8px 24px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
}

.pen {
}